@media all and (min-width: 767.99px) {
  
  *{
    box-sizing: border-box;
  }
  .HOME {
    display: flex;
    align-items:  center;
    justify-content: center;
    padding: 10px;
  }
  .HOME>div {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    height: 100%;
  }

  .HOME .image img {
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    
  }
  
  .texts {
    margin-inline: 10px;
  }
  .texts h1 {
    font-size: 36px;
    text-align: left;
  }
  
  .texts p {
    font-size: 16px;
    text-align: left;
  }

  .stats {
    display: flex;
    flex-direction: row;
  }

  .stats * {
    text-align: left;
    margin-inline: 15px;
    align-content: flex-start;
    justify-content: left;
  }

  .stats p {
    font-size: 12px;
  }
}
